#firstDiv img {
    display: inline-block;
    margin: 0px;
    padding-bottom: -35px;
    height: 120px;
    width: 350px;
    right: 10px;
    
    
}

#secondDiv img {
    display: inline-block;
    margin: 0px;
    padding-bottom: -35px;
    height: 120px;
    width: 350px;
    right: 10px;
    
    
}

header {
    background-color: rgb(250, 145, 145);
}

body {
   background-color: rgb(132, 188, 236);
    background-image:  url('hills-g4e2619d8e_640.jpg');
     
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: lighten;
}

#para {
    font-size: 100%;
    font-weight: bold;
    display: inline-flex;
}

#firstDiv {
    border: solid greenyellow;
    
    
}

#animalsText {
    display: inline;
    margin: 60px;
    padding-top: 30px;
    
}

#animalsText2 {
    display: inline;
    margin: 60px;
    padding-top: 30px;
    
}

#creatureName {
    display: inline-block;
    list-style: none;
    margin: 0px 155px;
}

#creatureName2 {
    display: inline-block;
    list-style: none;
    margin: 0px 155px;
}

/* #animalsName {
    display: inline-block;
} */



form.animal {
    width: 30%;
    border: 3px solid rgb(110, 79, 79);
    margin: 0 auto;
    
    
}

form.trips {
    width: 30%;
    margin: 0 auto;
    font-size: large;
    
}

#option-1 {
    left: 30%;
}

.an2 {
    text-align: center;
    
}

.an3 {
    text-align: center;
}

#last img {
    display: inline-block;
}

